# Temporary build files
/build
/build.*

# Eclipse project files
/.project
/.cproject

# Visual studio code files
/.vscode

# Visual studio
/.vs
/out
/CMakeSettings.json
/TestResults

# LSP
/.cache

# idea
/.idea
/cmake-build-debug
/cmake-build-release
